@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic&subset=latin,latin-ext&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700&subset=latin,latin-ext&display=swap');

html {
    scroll-behavior: smooth;
    background: #fffeed;
}

body {
    color: #3e3e3e;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 165%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

:not(.logo)>a:not(.nolinkstyle) {
    color: #b9b9b9;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    -ms-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

a:hover:not(.nolinkstyle) {
    color: #333333;
}

:not(.logo)>.link:not(.nolinkstyle) {
    text-decoration: none;
    color: #007bff;
}

:not(.logo)>.link:hover:not(.nolinkstyle) {
    text-decoration: none;
    color: #0957b3;
}

h2 {
    margin-bottom: 15px;
    color: #000000;
    font-family: 'Quattrocento', serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
}

div.paragraph,
div.paragraph {
    margin-bottom: 10px;
    line-height: 1.5em;
}

p,
div.paragraph {
    margin-bottom: 10px;
    line-height: 1.5em;
}

blockquote {
    font-style: italic;
    border-left: 4px solid #ddd;
    margin: 10px 0 10px 0;
    padding-left: 20px;
    line-height: 1.5;
    color: #888;
}

.container {
    width: 85%;
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    display: block;
    color: #000000;
    text-align: center;
    letter-spacing: .04em;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    padding: 30px 0 15px 0;
}

@media only screen and (max-width: 700px) {
    .logo {
        font-size: 25px;
    }
}

.nav {
    text-align: center;
}

.nav ul {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    padding-inline-start: 0;
}

.nav ul li {
    position: relative;
    display: inline-block;
}

.nav ul li a {
    padding: 0 15px;
    color: #b9b9b9;
    text-transform: uppercase;
    letter-spacing: .07em;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}

@media only screen and (max-width: 700px) {
    .nav ul li a {
        font-size: 14px;
    }
}

.nav ul li#active>a.menu-item,
.nav ul li>a.menu-item:hover {
    color: #333333;
}

.banner-wrap {
    position: relative;
    width: 100%;
    max-width: 1115px;
    margin: 20px auto 0;
}

.header-image {
    display: block;
    margin: 25px auto;
    width: 75%;
    border: 25px solid rgba(0, 0, 0, 0.18)
}

@media only screen and (max-width: 700px) {
    .header-image {
        margin: 15px auto;
        width: 85%;
        border: 10px solid rgba(0, 0, 0, 0.18)
    }
}

hr {
    height: 0px;
    border-radius: 3px;
    color: dimgray;
    border: 1px solid currentColor;
    width: 75%;
}

@media (max-width: 600px) {
    tr,
    td {
        display: inline-block;
        min-width: 90%;
        margin: 0 auto !important;
        padding: 3% !important;
    }
}

input[type=button] {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

button[type=button]:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

button[type=button]:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

button[type=button]:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button[type=button]:focus {
    outline: 1px transparent;
}

textarea {
    width: 400px;
    min-width: 400px;
    max-width: 600px;
    height: 150px;
    min-height: 150px;
    max-height: 250px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    margin: 5px 0;
    transition: background-color 0.2s ease 0s;
}

@media (max-width: 600px) {
    textarea {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        height: 150px;
        min-height: 150px;
        max-height: 250px;
        resize: vertical;
    }
}

textarea:focus {
    background-color: #FFFFFF;
    outline-width: 0;
}

input[type=text] {
    width: 225px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    margin: 5px 0;
    transition: background-color 0.2s ease 0s;
}

input[type=text]:focus {
    background-color: #FFFFFF;
    outline-width: 0;
}

@media (max-width: 600px) {
    #recaptcha {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        ">

    }
}

.mobilehidden {
    display: unset;
}

.mobileonly {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobilehidden {
        display: none;
    }
    .mobileonly {
        display: unset;
    }
}

@media only screen and (max-width: 600px) {
    .fillercol {
        width: 0 !important;
        padding: 0 !important;
    }
}

.popupimage {
    /*border-radius: 5px;*/
    cursor: pointer;
    transition: 0.3s;
}

.popupimage:hover {
    opacity: 0.8;
}

/* Modified from https://jsfiddle.net/snowMonkey/f1zav0ge/ */

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 90%;
    }
}

/* End modified section */